* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 80px;
  font-family: "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho",
    serif;
}

/*******header*******/

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

nav {
  background: linear-gradient(black, #2b2b2b);
  height: 80px;
}

.navbar-toggler,
.navbar-toggler span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}

.navbar-toggler {
  position: relative;
  width: 50px;
  height: 44px;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
}

.navbar-toggler-icon span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
}

#line1 {
  top: 5px;
}

#line2 {
  top: 18px;
}

#line3 {
  bottom: 10px;
}

#line4 {
  top: 25px;
}

.logo {
  font-family: "Baskerville", "Baskerville Old Face", "Garamond",
    "Times New Roman", serif;
  font-size: 40px;
  letter-spacing: 6px;
  color: white;
}

nav ul li {
  padding-top: 35px;
  font-size: 22px;
  font-family: "Diwan Thuluth";
}

nav a {
  color: white;
}

nav a:hover {
  color: white;
}

.sns {
  padding-top: 10px;
  position: relative;
}

.icon1 {
  width: 30px;
}

.icon2 {
  width: 30px;
}

.icon3 {
  width: 35px;
}

.sns a {
  text-decoration: none;
}

.sns p {
  color: #d10000;
  position: absolute;
  top: 15px;
  left: 90px;
  font-size: 15px;
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic",
    sans-serif;
}

.sns p:last-child {
  position: absolute;
  top: 30px;
  left: 100px;
}

/*ハンバーガーメニュー*/

.fullscreen .modal-header {
  background: linear-gradient(black, #2b2b2b);
}

.fullscreen .modal-dialog {
  margin: 0 0 0 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  padding: 0;
}

.fullscreen .modal-content {
  height: 100%;
  min-height: 100%;
  border-radius: 0;
  background: linear-gradient(black, #2b2b2b);
  overflow: auto;
}

.fullscreen .modal-content .modal-header {
  border: 0px;
}

.fullscreen .modal-content button {
  opacity: 1;
}

.fullscreen .modal-content button span {
  color: white;
  font-weight: 1;
  font-size: 40px;
  text-shadow: none;
}

.fullscreen .modal-body .modal-logo img {
  width: 158px;
  padding-bottom: 84px;
}

.fullscreen .modal-body ul {
  padding: 0 0 0 0;
}

.fullscreen .modal-body a {
  color: white;
  font-size: 30px;
  text-align: center;
}

.fullscreen .modal-body .sns {
  position: relative;
  text-align: center;
  width: 100%;
}

.fullscreen .modal-body .sns .icon1 {
  width: 45px;
}

.fullscreen .modal-body .sns .icon2 {
  width: 45px;
}

.fullscreen .modal-body .sns .icon3 {
  width: 50px;
}

/*.fullscreen .modal-body .sns p {
  position: absolute;
  font-size: 30px;
  left: 430px;
  top: 28px;
}*/

/*******footer*******/

footer {
  height: 650px;
  background: linear-gradient(#505050, black);
}

.footer-title {
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
}

.footer-content {
  padding-top: 80px;
  text-align: center;
}

.logo1 {
  width: 400px;
  height: 120px;
  margin-right: 100px;
}

.logo2 {
  width: 350px;
  height: 110px;
  margin-right: 100px;
}

.logo3 {
  width: 380px;
  height: 60px;
  margin-bottom: 20px;
}

.logo4 {
  width: 310px;
  height: 100px;
  margin: 80px 0 100px 0;
}

.footer-text {
  color: gray;
  font-family: "Baskerville", "Baskerville Old Face", "Garamond",
    "Times New Roman", serif;
  padding: 30px 0 0 100px;
  border-top: gray solid 1px;
}