* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1100px;
  margin: auto;
}

body {
  padding-top: 80px;
  font-family: 'YuMincho', 'Hiragino Mincho ProN', 'Yu Mincho', 'MS PMincho', serif;
}

/*******header*******/

header {
  height: 80px;
  width: 100%;
  color: white;
  background: linear-gradient(black, #2B2B2B);
  position: fixed;
  top: 0;
  left: 0;
}

header h2 {
  color: white;
}

header a {
  text-decoration: none;
}

.header-group {
  display: flex;
  justify-content: space-between;
}

.logo {
  line-height: 80px;
  font-family: 'Baskerville', 'Baskerville Old Face', 'Garamond', 'Times New Roman', serif;
  font-size: 40px;
  font-weight: normal;
  letter-spacing: 10px;
  padding-left: 25px;
}

.nav {
  display: flex;
  list-style: none;
}

.nav-list {
  padding: 0 20px;
  margin-top: 45px;
  font-size: 22px;
  font-family: 'Diwan Thuluth';
}

.nav-list a {
  color: white;
  text-decoration: none;
}

.sns {
  margin-top: 25px;
  padding-right: 25px;
  position: relative;
}

.icon {
  margin-right: 35px;
}

.icon1 {
  width: 30px;
  margin-left: 20px;
}

.icon2 {
  width: 35px;
}

.icon3 {
  width: 40px;
  margin-right: 0px;
}

.sns p {
  color: #D10000;
  position: absolute;
  top: 10px;
  left: 23px;
  padding-left: 55px;
  font-size: 22px;
  font-family: 'Hiragino Sans W3', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

/*******footer*******/

footer {
  height: 650px;
  background: linear-gradient(#505050, black);
}

.footer-title {
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
}

.footer-content {
  padding-top: 80px;
  text-align: center;
}

.logo1 {
  width: 400px;
  height: 120px;
  margin-right: 100px;
}

.logo2 {
  width: 350px;
  height: 110px;
  margin-right: 100px;
}

.logo3 {
  width: 380px;
  height: 60px;
  margin-bottom: 20px;
}

.logo4 {
  width: 310px;
  height: 100px;
  margin: 80px 0 100px 0;
}

.footer-text {
  color: gray;
  font-family: 'Baskerville', 'Baskerville Old Face', 'Garamond', 'Times New Roman', serif;
  padding: 30px 0 0 100px;
  border-top: gray solid 1px;
}