.discography {
  height: 1000px;
  font-family: "Baskerville", "Baskerville Old Face", "Garamond",
    "Times New Roman", serif;
}

.discography-title {
  font-size: 70px;
  text-align: center;
  font-weight: normal;
  padding-top: 40px;
  display: flex;
  align-items: center;
}

.discography-title::before,
.discography-title::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: black;
}

.discography::before {
  margin-right: 5rem;
}
.discography::after {
  margin-left: 5rem;
}

.discography-content h2 {
  font-weight: normal;
  font-size: 45px;
  text-align: center;
  padding-top: 10px;
}

.discography img {
  width: 300px;
}

input[name="tab_item"] {
  display: none;
}

.tab_content {
  display: none;
}

#single:checked ~ #single_content,
#album:checked ~ #album_content {
  display: block;
}