.live {
  height: 100vh;
  font-family: "Baskerville", "Baskerville Old Face", "Garamond","Times New Roman", serif;
}

.live-title {
  font-size: 70px;
  text-align: center;
  font-weight: normal;
  padding-top: 40px;
  display: flex;
  align-items: center;
}

.live-title::before,
.live-title::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: black;
}

.live-title::before {
  margin-right: 3%;
}
.live-title::after {
  margin-left: 3%;
}

.live-content {
  font-size: 35px;
  padding: 140px 0 0 180px;
}

@media screen and (max-width: 1024px) {
  .live-title {
    font-size: 50px;
  }

  .live-content {
    padding: 10% 0 0 10%;
    font-size: 3vw;
  }
}

@media screen and (max-width: 599px) {
  .live-title {
    font-size: 30px;
  }
}