.news {
  height: 1500px;
}

.news-title {
  font-size: 5vw;
  text-align: center;
  font-family: "Baskerville", "Baskerville Old Face", "Garamond",
    "Times New Roman", serif;
  font-weight: normal;
  padding-top: 40px;
  display: flex;
  align-items: center;
}

.news-title::before,
.news-title::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: black;
}

.news-title::before {
  margin-right: 3%;
}
.news-title::after {
  margin-left: 3%;
}

.news-content {
  display: flex;
}

.title {
  padding-top: 20px;
  padding-left: 130px;
  position: relative;
}

.title p {
  color: gray;
}

.title h2 {
  font-size: 35px;
  color: black;
  font-weight: normal;
}

.news-img {
  width: 200px;
  height: 200px;
  margin-left: 160px;
  margin-top: 35px;
}

.news-text {
  font-size: 25px;
  padding-left: 120px;
  padding-top: 35px;
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic",
    sans-serif;
}

.detail {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.news-content a {
  color: #009dff;
}

.news-line {
  width: 100%;
  border-bottom: gray 1px dashed;
  margin: auto;
  padding-top: 55px;
}

.sp-br {
  display: none;
}

@media screen and (max-width: 1024px) {
  .title {
    padding-left: 40px;
  }

  .title h2 {
    font-size: 30px;
  }

  .news-img {
    margin-left: 50px;
  }

  .news-text {
    font-size: 20px;
    padding-left: 35px;
    padding-top: 20px;
  }

  .detail {
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  .news {
    height: 1300px;
  }
}

@media screen and (max-width: 599px) {
  .title {
    padding-left: 10px;
  }

  .title h2 {
    font-size: 16px;
  }

  .share {
    width: 20px;
    top: 85%;
  }

  .news-img {
    width: 25%;
    height: 25%;
    margin: 5px 0 0 20px;
  }

  .news-text {
    font-size: 2vw;
    padding: 5px 10px 0 30px;
  }

  .detail {
    font-size: 2vw;
    padding: 0;
  }

  /*.sp-br {
    display: block;
  }*/
}

/*縦幅調整用*/
@media screen and (max-width: 450px) {
  .news {
    height: 1000px;
  }
}