.single01 {
  height: 1000px;
}

.single01-title {
  position: relative;
}

.single01-title h1 {
  font-size: 70px;
  text-align: center;
  font-weight: normal;
  display: flex;
  align-items: center;
  font-family: "Baskerville", "Baskerville Old Face", "Garamond",
    "Times New Roman", serif;
}

.single01-title p {
  text-align: center;
  font-size: 23px;
  color: gray;
  padding-top: 40px;
}

.single01-title h1::before,
.single01-title h1::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: black;
}

.single01-title h1::before {
  margin-right: 5rem;
}
.single01-title h1::after {
  margin-left: 5rem;
}

.single01-title img {
  width: 80px;
  position: absolute;
  z-index: 10;
  top: 15px;
  left: 20px;
}

.single01-content {
  text-align: center;
}

.single01-content img {
  width: 300px;
}