body {
  background-color: black;
}

/*******main-visual*******/

.main-visual {
  height: 740px;
  width: 1350px;
  margin: auto;
  background-image: url(../img/index_bg01.png);
  background-size: cover;
  background-position: center;
}

.main-content {
  display: flex;
  align-items: flex-start;
  padding-top: 110px;
}

.main-img {
  width: 400px;
  height: 400px;
  margin-top: 30px;
}

.main-text {
  color: white;
  font-family: 'Impact', 'Charcoal', 'Arial Black', sans-serif;
  font-size: 95px;
  padding: 27px 0 0 150px;
  line-height: 1.5;
}

.main-text span {
  color: #009dff;
}

/*******topic*******/

.topic-title {
  display: flex;
  align-items: center;
  color: white;
  font-size: 55px;
  font-family: 'Baskerville', 'Baskerville Old Face', 'Garamond', 'Times New Roman', serif;
  font-weight: normal;
  padding-top: 80px;
}

.topic-title::before,
.topic-title::after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: gray;
}

.topic-title::before {
    margin-right: 5rem;
}

.topic-title::after {
    margin-left: 5rem;
}

.topic-content {
  margin: 30px 0 150px 0;
  height: 480px;
  width: 1100px;
  background-image: url(../img/index_bg02.png);
  display: flex;
}

.topic-img {
  width: 380px;
  height: 380px;
  margin: 50px 0 0 120px;
}

.topic-text {
  font-size: 35px;
  color: white;
  margin: 50px 0 0 60px;
}

.topic-text span {
  font-size: 60px;
}

.topic-url {
  display: block;
  font-size: 30px;
  padding-top: 35px;
  color: #009dff;
}