body {
  background-color: black;
}

/*******main-visual*******/

.main-visual {
  width: 95%;
  height: 0;
  margin: 0 auto;
  padding-top: 54.6%;
  background-image: url(../img/index_bg01.png);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 10;
}

.main-content {
  display: flex;
  /*align-items: flex-start;*/
  position: absolute;
  top: 80px;
  left: 140px;
}

.main-img {
  width: 30%;
  height: 30%;
  margin-top: 6%;
}

.main-text {
  color: white;
  font-family: "Impact", "Charcoal", "Arial Black", sans-serif;
  font-size: 5vw;
  padding: 5% 0 0 15%;
  line-height: 1.5;
}

.main-text span {
  font-size: 7vw;
}

/*******topic*******/

.topic-title {
  display: flex;
  align-items: center;
  color: white;
  font-size: 55px;
  font-family: "Baskerville", "Baskerville Old Face", "Garamond",
    "Times New Roman", serif;
  font-weight: normal;
  padding-top: 80px;
}

.topic-title::before,
.topic-title::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: gray;
}

.topic-title::before {
  margin-right: 2%;
}

.topic-title::after {
  margin-left: 2%;
}

.topic-content {
  margin: 30px 0 150px 0;
  height: 480px;
  width: 100%;
  background-image: url(../img/index_bg02.png);
  display: flex;
}

.topic-img {
  width: 320px;
  height: 320px;
  margin: 7% 0 0 10%;
}

.topic-text {
  font-size: 35px;
  color: white;
  margin: 5% 0 0 10%;
}

.topic-text span {
  font-size: 60px;
}

.topic-url {
  display: block;
  font-size: 30px;
  padding-top: 35px;
  color: #009dff;
}

/*sp版topic*/
.sp-topic {
  height: 1200px;
  display: none;
}

.sp-topic-content {
  padding-top: 80.09%;
  height: 0;
  width: 90%;
  margin: 0 auto;
  background-image: url(../img/sp-topic.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.sp-topic-content img {
  position: absolute;
  top: 6%;
  left: 30%;
  width: 40%;
}

.sp-topic-text {
  color: white;
  text-align: center;
  position: absolute;
  top: 53%;
  left: 10%;
}

.sp-topic-text span {
  font-size: 7vw;
}

.sp-topic-text:last-child {
  font-size: 4vw;
}

.sp-topic-url {
  display: block;
  width: 35%;
  padding: 10px 0 10px 0;
  background-color: rgba(0,99,160,0.8);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 2vw;
  margin: 0 auto;
}

/*sp版でのみ表示*/
.phone-area {
  height: 200px;
  display: none;
}

.phone-content {
  width: 60%;
  margin: 8% auto;
}

.phone-content img {
  width: 45%;
}

.btn-2, .btn-4 {
  margin-left: 8%;
}

.btn-3, .btn-4 {
  margin-top: 6%;
}

/*スマホ*/
@media screen and (max-width: 599px) {
  .btn-2, .btn-4 {
    margin-left: 4%;
  }
}

/*タブレット*/
@media screen and (max-width: 1024px) {
  .main-content {
    top: 30px;
    left: 50px;
  }

  .phone-area {
    display: block;
  }

  .topic {
    display: none;
  }

  .sp-topic {
    display: block;
  }
}
